body,html, #root {
        width: 100%;
        height: 100%;
        color: white;
    }

    #full-screen {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #toolbar {
        flex: 1;
        display: flex;
        flex-direction: row;
        background-color: darkslategrey;
    }
    #toolbar > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding: 50px; */
        padding-right: 50px;
        padding-left: 50px;
    }

    #background {
        flex: 4;
        background-color: skyblue;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #box {
        background-color: forestgreen;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .element {
        background-color: darksalmon;
        height: 10px;
        border: 2px solid forestgreen;
        flex: 1;
    }
    .element:hover {
        background-color: red;
    }
    